/* Main */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8F8F8F;
}

/* Sections */
.colored-section {
  background-color: #A66CFF;
  color: white;
}

.white-section {
  background-color: white;
}

/* Headings */
.main-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.feature-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.testimonial-heading {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-heading {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-package-heading {
  font-size: 1.5rem;
  font-weight: 500;
}

.cta-heading {
  font-size: 3rem;
  padding-bottom: 50px;
  line-height: 1.5;
  font-weight: 600;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: 300;
  padding-left: 20px;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 1.2rem;
}

.navbar>.container-fluid {
  padding-left: 0;
  padding-bottom: 0;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  text-align: left;
}

@media (max-width: 995px) {
  #title {
    text-align: center
  }
}

.mainpage-content {
  padding-top: 25px;
}

.container-fluid {
  padding: 3% 10% 11%;
}

.first-image {
  width: 600px;
  position: relative;
  top: 40px;
}

@media (max-width: 1195px) {
  .first-image {
    position: static;
    transform: none;
  }
}

/* Features Section */
#features {
  padding: 5% 10%;
  position: relative;
}

.feature-box {
  padding: 3%;
}

.icon {
  color: #9900F0;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #A66CFF
}

/* Testimonials Section*/
.testimonials-img {
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  padding-bottom: 3%;
}

.press-img {
  width: 10%;
  margin: 20px 20px 30px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-button:hover {
  background-color: #9900F0;
}

/* CTA Section */
#cta {
  font-family: "Montserrat";
  font-weight: 600;
  padding: 7% 18%;
}

.cta-button {
  margin-right: 25px;
}

/* Footer Section */
#footer {
  padding: 7% 20% 2%;
}

.footer-i {
  margin-right: 10px;
  margin-bottom: 12px;
}
